extends layouts/app.jade

block title
  title Home

block main
  section.space
    .container
      .row
        .col-12
          h2.text-center.color-pink hello world
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse exercitationem, pariatur, at debitis dolores vel atque ea sit, quibusdam explicabo eius ducimus deleniti iusto dolorum amet. Iste culpa reprehenderit doloribus facere in nam dolor architecto corrupti ipsa quasi voluptatum commodi placeat itaque modi cupiditate laborum eos possimus quam, tenetur unde? Qui minus, quia maxime, deserunt culpa amet provident praesentium aliquid laboriosam, voluptates magnam. Dolores animi iure, eaque amet velit deleniti explicabo a nobis ex. Labore asperiores deleniti sint numquam beatae nesciunt similique odio maxime molestiae dolorem nemo incidunt perspiciatis dicta a fugiat, quisquam consectetur nulla delectus expedita saepe deserunt blanditiis ex laudantium pariatur. Animi dignissimos adipisci cum libero corporis tenetur cumque illo dicta tempora consectetur suscipit doloremque dolor ducimus, blanditiis sapiente ratione et aperiam sequi, soluta recusandae rem deserunt nemo. Consequuntur, magnam! Earum in culpa corrupti at atque ab incidunt impedit dignissimos iusto voluptatibus, molestias libero iure temporibus officia consectetur necessitatibus repudiandae ex dolores saepe dolorem deserunt blanditiis maxime! Accusamus eveniet quisquam, repellat ipsum molestias consectetur aperiam nemo temporibus. Dolor commodi ab molestias, corrupti error accusantium iure exercitationem temporibus voluptate, earum modi blanditiis ut mollitia dignissimos reiciendis assumenda necessitatibus rerum fugiat dolore doloremque magni. Cum voluptates nihil praesentium molestiae eum?