.header-top

header.main-header
  .container
    .row
      .col-12.text-center.logo.pb-4
        +img('logo.png')
  .container
    ul.main-menu.d-flex.justify-content-between
      li
        a.active(href="#") SHOP AVALIABLE PUPPIES    
      li
        a(href="#") HOW TO BUY 
      li
        a(href="#") ABOUT US
      li
        a(href="#") HEALTH GUARANTEE
      li
        a(href="#") CUSTOMER REVIEWS