.header-top

header.main-header
  .container
    .row
      .col-12.text-center.logo.pb-4
        a(href="index.html")
          img(src="dist/images/logo.png" alt="")
  .container
    ul.main-menu.d-flex.flex-wrap.justify-content-md-between.justify-content-center
      li
        a(href="#") SHOP AVALIABLE PUPPIES    
      li
        a(href="#") HOW TO BUY 
      li
        a.active(href="#") ABOUT US
      li
        a(href="#") HEALTH GUARANTEE
      li
        a(href="#") CUSTOMER REVIEWS