body {
  font-family: $f;
  color: $black;
}

.container {
  max-width: 1030px;
}

h2 {
  font-size: 76px;
  color: $black;
  font-family: $b;
  margin: 0;
  margin-bottom: calc-em(28, 76);
  @include sm {
    line-height: 1;
  }
}
h4 {
  font-size: em(16px);
  font-weight: 700;
  margin-bottom: 15px;
}

img {
  max-width: 100%;
}

b,
strong {
  font-weight: bold;
}

a.title {
  font-size: em(12px);
  font-weight: 700;
  color: $black;
  &:hover {
    color: $yellow;
  }
}
a {
  color: #ff8dad;
}
p {
  font-size: em(14px);
  line-height: 1.4;
}

.button {
  display: block;
  background: $pink;
  color: #fff;
  text-align: center;
  font-family: $n;
  font-size: em(21);
  border-radius: 0;
  transition: 0.3s;
  &:hover {
    background: $yellow;
  }
}

.space {
  padding: 50px 0;
  &-t {
    padding-top: 50px;
  }
  &-b {
    padding-bottom: 50px;
  }
  @include md {
    padding: 40px 0;
    &-t {
      padding-top: 40px;
    }
    &-b {
      padding-bottom: 40px;
    }
  }
}

.color {
  &-pink {
    color: $pink;
  }
  &-yellow {
    color: $yellow;
  }
  &-gray {
    color: #686868;
  }
}

.slick-arrow {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -25px;
  z-index: 2;
  cursor: pointer;
  &.slick-disabled {
    opacity: 0.4;
  }
  &.right {
    left: auto;
    right: 0;
  }
  &.left {
    transform: rotate(180deg);
  }
}

.slick-dots {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  padding-top: 20px;
  button {
    display: none;
  }
  li {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    background: $pink;
    margin: 0 3px;
    cursor: pointer;
    &.slick-active {
      background: $yellow;
    }
  }
}
